<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script>
        function delcfm(){
            if (!confirm("确认要删除？")) {
                window.event.returnValue = false;
            }
        }
    </script>
</head>
<body>
<div id="main">
    <% include top %>
    <div id="content">
        <% if (user && (user.name == post.name)) { %>
        <span><a class="edit" href="/edit/<%= post._id %>">编辑</a></span>
        <span><form action="/remove/<%= post._id %>" target="_blank" method="get">
                <input name="" type="submit" value="删除" onClick="delcfm()" /></form></span>
        <% } %>
        <p class="info">
            <%= post.title %><br>
            作者：<a href="/users/<%= post.name %>"><%= post.name %></a> |
            日期：<%= post.time.minute %>|
            点击量：<%= post.pv?post.pv:"0" %>
        </p>
        <p><%- post.post %></p>
        <%- include comment %>
    </div>
    <% if (success) { %>
    <div><%= success %></div>
    <% } %>
    <% if (error) { %>
    <div><%= error %> </div>
    <% } %>
    <% include bottom %>
</div>
</body>
</html>



