
<% post.comments.forEach(function (comment, index) { %>
<p><a href="/users/<%= comment.name %>"><%= comment.name?comment.name:"匿名用户" %></a>
    <span class="info"> 回复于 <%= comment.time %></span></p>
<p><%- comment.content %></p>
<% }) %>

    <form method="post" action="/comment/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">

        <textarea name="content" rows="5" cols="80"></textarea><br />
        <input type="submit" value="留言" />
    </form>
