<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="/js/bootstrap3/css/bootstrap.min.css"/>
    <script  src="/js/jquery-2.1.4.min.js"> </script>
    <script  src="/js/bootstrap3/js/bootstrap.min.js"> </script>
</head>
<body>
    <% include top %>
    <div class="container">

        <% if (success) { %>
        <div><%= success %></div>
        <% } %>
        <% if (error) { %>
        <div><%= error %> </div>
        <% } %>
        <div class="row">
        <% posts.forEach(function (post, index) { %>
        <div class="col-md-12 col-sm-12 table-bordered">

          <a class="h2 label label-default" href="/users/p/<%= post._id %>"><%= post.title %></a>
            <p class="info">
               <span class="label label-info">作者：<a href="/users/<%= post.name %>"><%= post.name %></a>  |
                日期：<%= post.time.minute %> |
                点击量：<%= post.pv ? post.pv : "0" %> | 转载：
                <% if (post.reprint_info.reprint_to) { %>
                <%= post.reprint_info.reprint_to.length %>
                <% } else { %>
                <%= 0 %>
                <% } %>
               </span>

            <p style=""><%- post.post %></p>
        </div>
        <% }) %>
        </div>

    <% include pageing %>
    <% include bottom %>
    </div>
</body>
</html>



